h1 {
    padding-top: 10px;
    color: #fff;
}

h2 {
    margin-top: 40px;
    color: #fff;
}

.img-thumbnail {
    width: 100%;
    height: 76vh;
}

.scroll {
    overflow-y: auto;
    height: 400px;
    width: 800px;
}