<div class="content">

    <div class="text">LOGIN</div>
    <form #formLogin="ngForm" (ngSubmit)="onLogin(email,password)">

        <div class="field">
            <span class="fas fa-user"></span>

            <select name="select" name=op [ngModel]="op" (change)="opciones($event)">
                <option value="">Seleccionar...</option>
            <option *ngFor="let select of seleccionar">{{select}}</option>
          </select>
        </div>
        <br>
        <div class="field">
            <input name="email" [(ngModel)]="email" type="text" required>
            <span class="fas fa-user"></span>
            <label>Email or Phone</label>
        </div>
        <br>
        <div class="field">
            <input name="password" [(ngModel)]="password" type="password" required>
            <span class="fas fa-lock"></span>
            <label>Password</label>
        </div>
        <div class="sign-up">
            Don´t have an account?
            <a routerLink="/registro" routerLinkActive="active">signup now</a>
        </div>

        <button>Sign in</button>

    </form>
</div>